%h2 All posts

%ol
  - for p in @posts
    %li.post
      %h3.title= p.title
      %p.metadata
        Published on
        %abbr{:title => date_iso8601(p.created_at)}= date_humanized(p.created_at) + '.'
      %p.tags= p.tags
      %p.content= p.content
      %p.permalink
        %a{:href => "/posts/#{p.slug}"} permalink
